<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">
       <jaxws:client id="queryWeather" address="http://localhost:8080/spring-cxf-server/ws/weather" serviceClass="cn.codeyang.cxf.helloworld.WeatherInterface" />
       <jaxws:client id="sayHello" address="http://localhost:8080/spring-cxf-server/ws/HelloWorld" serviceClass="cn.codeyang.cxf.helloworld.HelloWorld"/>
</beans>